.container-fluid {
  padding: 0px;
}

/* Application */

#nav-bar {
  position: relative;
  height: 100px;
  background: #808080;
}

#categories {
  height: 40px;
  background: darkgrey;
}

#sub-categories {
  height: auto;
  background: dimgrey;
}

#products {
  position: relative;
  height: 300px;
}

.items {
  margin-left: 10px;
}

#accordion {
  background: blanchedalmond;
}

.novedadi {
  padding: 15px;
  font-size: 17px;
  color: black;
  font-family: Oxygen, sans-serif;
}

.accordion-toggle {cursor: pointer;}
.accordion-content {display: none;}
.accordion-content.default {display: block;}

[ui-view].ng-enter, [ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition:all .5s ease-in-out;
  transition:all .5s ease-in-out;
}

[ui-view].ng-enter {
  -webkit-animation: flipInX 1s;
  -moz-animation: flipInX 1s;
  -ms-animation: flipInX 1s;
  animation: flipInX 1s;
}


[ui-view].ng-leave {
  -webkit-animation: flipInX 1s;
  -moz-animation: flipInX 1s;
  -ms-animation: flipInX 1s;
  animation: flipInX 1s;
}

[ui-view].ng-leave-active {
  -webkit-animation: flipOutX 1s;
  -moz-animation: flipOutX 1s;
  -ms-animation: flipOutX 1s;
  animation: flipOutX 1s;
}

.margin {
  margin-top: 10px;
}

.novedades {}
