body {
  background: lightgrey;
}

#nav-bar {
  position: relative;
  height: 100px;
  background: #808080;
}

#categories {
  height: 40px;
  background: darkgrey;
}

#sub-categories {
  height: auto;
  background: dimgrey;
}

#products {
  position: relative;
  height: 300px;
}

.items {
  margin-left: 10px;
}

.ng-enter, .ng-leave {
  position: absolute;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.ng-enter {
  -webkit-animation-name: flipInX;
  animation-name: flipInX;
}

.ng-leave {
  -webkit-animation-name: flipInX;
  animation-name: flipInX;
}

