<div class="w-section sechea">
  <div class="w-container">
    <div class="w-nav navbarprod" data-collapse="medium" data-animation="default" data-duration="400" data-contain="1">
      <div class="w-container">
        <a class="w-nav-brand brand productos" ui-sref="app.home" ui-sref-opts="{reload: true, autoscroll: true}"><img src="images/logoNavBar.png" width="71">
        </a>
        <h3 class="titulologo">Pescadería<br> Rosario</h3>
        <div class="textnamepage">Administración</div>
        <nav class="w-nav-menu navmenu" role="navigation"><a class="w-nav-link navlink" href="index.html">Inicio</a>
        </nav>
        <div class="w-nav-button botonmenu">
          <div class="w-icon-nav-menu iconomenu"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="divcategorias">
    <div class="w-container">
      <div class="div2categorias">
        <a class="w-inline-block linkcategorias" ui-sref="app.admin.products" ui-sref-opts="{reload: true, autoscroll: true}">
          <div class="textcategoria">Productos</div>
        </a>
        <a class="w-inline-block linkcategorias" ui-sref="app.admin.news" ui-sref-opts="{reload: true, autoscroll: true}">
          <div class="textcategoria">Novedades</div>
        </a>
        <a class="w-inline-block linkcategorias" ui-sref="app.admin.recipes" ui-sref-opts="{reload: true, autoscroll: true}">
          <div class="textcategoria">Recetas</div>
        </a>
      </div>
    </div>
  </div>
</div>

<ui-view></ui-view>

