<div id="responsive"
     style="height: 26px;"
     ng-if="mobileScreen">
  <button class="pull-right"
          ng-click="toggleNav()">
    Mobile
  </button>
</div>

<!-- desktop -->
<div id="p-nav" ng-if="!mobileScreen">
  <div id="categories">
    <div id="cat-nav" class="pull-left">
      <span class="items"
            ng-repeat="c in categories"
            ng-click="selectCategory(c.id)"
            ui-sref=".category({categoryId:c.id, page: 1})">
        {{ c.name }}
      </span>
    </div>
    <div id="search">
      <input class="pull-right" type="text" ng-model="query.value"/>
      <button ui-sref="app.products.search({query: query.value})" class="pull-right">Buscar</button>
    </div>
  </div>

  <div id="sub-categories" ng-if="categorySelected">
    <span class="items"
          ng-repeat="sC in currentCategory"
          ui-sref="app.products.subCategory({subCategoryId:sC.id, page: 1})">
      {{ sC.name }}
    </span>
  </div>

  <div id="sub-categories" ng-if="!categorySelected">
    <span class="items">
      General
    </span>
  </div>
</div>

<!-- mobile -->

<div id="accordion" ng-if="mobileNav && mobileScreen">
    <div id="search">
      <input class="pull-right" type="text" ng-model="query.value"/>
      <button ui-sref="app.products.search({query: query.value})" class="pull-right">Buscar</button>
    </div>

    <div id="sabe" accordion ng-repeat="c in categories" >
      <h5 class="accordion-toggle"
          ng-click="selectCategory(c.id)"
          ui-sref=".category({categoryId:c.id, page: 1})">
          {{c.name}}
      </h5>
      <div class="accordion-content" ng-show="categorySelected">
        <span class="items"
              ng-repeat="sC in currentCategory"
              ui-sref="app.products.subCategory({subCategoryId:sC.id, page: 1})">
          {{ sC.name }}
        </span>
      </div>
    </div>
</div>

<div id="products">
  <div ui-view></div>
</div>
