<h3>Administración productos</h3>
<form name="todoForm" novalidate>
  <div class="form-group" ng-class="{'has-error': todoForm.content.$invalid && todoForm.content.$dirty}">
    <input type="text" class="form-control focus margin" name="name"
           placeholder="Nombre" autocomplete="off" required
           ng-model="product.name">
    <input type="text" class="form-control focus margin" name="price"
           placeholder="Precio" autocomplete="off" required
           ng-model="product.price">
    <input type="text" id="category" class="form-control focus margin" name="category" list="categories"
           placeholder="Seleccione categoría" autocomplete="off" required>
    <datalist id="categories">
      <option get-value ng-repeat="c in categories" value="{{c.name}}" id="{{c.id}}">
    </datalist>
    <input type="text" id="subCategory" class="form-control focus margin" name="subCategory" list="subCategories"
           placeholder="Seleccione subcategoría" autocomplete="off" required>
    <datalist id="subCategories">
      <option get-value ng-repeat="sC in subCategories" value="{{sC.name}}" id="{{sC.id}}">
    </datalist>
  </div>
  <button class="btn btn-default" ng-disabled="todoForm.$invalid" ng-click="addProduct()">Agregar</button>
</form>
