<div class="w-section seccontacto">
  <div class="divseccpeces deli" id="contacto">
    <div class="divpeces"></div>
  </div>
  <div class="titseccion">Contacto</div>
  <div class="divform">
    <div class="w-container contform">
      <div class="textcontactenos">Contáctese con nosotros y a la brevedad nos comunicaremos con usted.</div>
      <div class="w-form">
        <form id="email-form" name="email-form" data-name="Email Form">
          <div class="w-row">
            <div class="w-col w-col-6 col1ctacto">
              <input class="w-input textnombre" id="name" type="text" placeholder="Nombre" name="name" data-name="Name">
            </div>
            <div class="w-col w-col-6 col2ctacto">
              <input class="w-input textmail" id="email" type="email" placeholder="Email" name="email" data-name="Email" required="required">
            </div>
          </div>
          <textarea class="w-input textarea" id="field" placeholder="Consulta" name="field"></textarea>
          <input class="w-button botonenviar" type="submit" value="Enviar" data-wait="Please wait...">
        </form>
        <div class="w-form-done">
          <p>Thank you! Your submission has been received!</p>
        </div>
        <div class="w-form-fail">
          <p>Oops! Something went wrong while submitting the form</p>
        </div>
      </div>
      <div class="w-row rowdireccion">
        <div class="w-col w-col-6 col1direccion"><img class="imgiconctacto" src="images/direccion.png">
          <div class="textctacto">Paraguay 1496 &nbsp;Rosario&nbsp;&nbsp;Santa Fé</div><img class="imgiconctacto" src="images/telefono_1.png">
          <div class="textctacto">0341&nbsp;&nbsp;4497789&nbsp;&nbsp;4474648</div><img class="imgiconctacto" src="images/mail.png">
          <div class="textctacto">pescaderia@rosario.com</div>
        </div>
        <div class="w-col w-col-6"><img class="imgmapa" src="images/mapa copia.jpg" width="470">
        </div>
      </div>
    </div>
    <div class="textfooter">Pescaderia rosario 2015&nbsp;&nbsp;|&nbsp;&nbsp;todos los derechos reservados</div>
  </div>
</div>
