<div class="w-section secdelivery">
  <div class="divseccpeces deli" id="delivery">
    <div class="divpeces"></div>
  </div>
  <div class="titseccion">Delivery</div>
  <div class="divdatosdelivery">
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-6">
          <p class="delivery"><strong>Horario de atención:</strong>&nbsp;&nbsp;lunes a sábado de 09:00 a 20:00 hs. &nbsp;&nbsp;Domingos de 09:00 a 13:00 hs.
            <br><strong>Consúltenos por envíos a mayoristas</strong>
          </p>
        </div>
        <div class="w-col w-col-6"><img class="telefono" src="images/telefono.png">
          <h1 class="deli">4480833</h1>
        </div>
      </div>
    </div>
    <div class="divtel"></div>
  </div>
  <div class="divmapa">
    <div class="divvelomapa" data-ix="mapa">Click para acceder</div>
    <div class="w-embed w-iframe htmlmapa" data-ix="mapa2">
      <iframe src="https://www.google.com/maps/d/embed?mid=zKkBm4Ys7FkM.krstzKpbmqKg" width="100%" height="400"></iframe>
    </div>
  </div>
</div>
