<div class="divtoldo"></div>
<div class="divseccpeces empre" id="destaca"></div>
<div class="w-section secdestacados">
  <div class="titseccion">Productos destacados</div>
  <div class="w-container contdestaca">
    <div class="w-row">
      <div class="w-col w-col-3 coldestaca">
        <div class="divdestaca">
          <div class="nombre-text">Langostinos</div><img class="imgdestaca" src="images/images (1).jpg">
          <div class="textdestaca">$ 110 el Kg</div><img class="marcodestaca" src="images/marco.png">
        </div>
      </div>
      <div class="w-col w-col-3 coldestaca"></div>
      <div class="w-col w-col-3 coldestaca"></div>
      <div class="w-col w-col-3 coldestaca"></div>
    </div>
  </div>
  <div class="divolas"></div>
</div>
