<div class="w-section secempresa">
  <div class="divseccpeces empre" id="empresa">
    <div class="divpeces"></div>
  </div>
  <div class="divempresa">
    <div class="titseccion">Nuestra empresa</div>
    <div class="divfotosempresa"></div>
    <div class="w-container contempresa">
      <div class="divtexto">
        <div class="center">
          <br>
          <br>Somos una empresa dedicada a la venta al por mayor y al por menor de&nbsp;pescados de mar&nbsp;y de río. Desde la década del 50, desde nuestros comienzos en Mar del Plata, ciudad de origen, es un oficio que fué transmitido de generación en generación. Nos caracterizan el trato cordial a nuestros clientes y la calidad de los productos ofrecidos.
          <br>
          <br>Contamos con un personal eficiente y altamente comprometido con la calidad de los productos, calificado para asesorarlo adecuadamente. Brindamos una&nbsp;atención oportuna. Ofrecemos &nbsp;una amplia variedad depescados de mar y de río, los cuales son cuidadosamente seleccionados y tratados para satisfacer las expectativas de nuestros clientes.
          <br>
          <br>Todos nuestros productos se caracterizan por su frescura y calidad, adaptándose a las normas de salubridad e higiene.</div>
      </div><img class="punta" src="images/punta.png">
      <div class="texthistoria">Nuestra historia</div>
      <div class="divlt">
        <div class="divglobo _1" data-ix="textolt"><img src="images/globo1.png">
        </div>
        <div class="divtextltiempo">
          <p class="textltiempo1">Somos la pescadería más importante de Rosario y su zona de infuencia.</p>
          <p class="textltiempo2">Anexamos la sección rotisería ofreciendo
            <br>una&nbsp;amplia variedad de exquisiteces.</p>
          <p class="textltiempo3">Incorporamos nuestra propia flota de camiones&nbsp;para facilitar el transporte de nuestra mercadería.</p>
          <p class="textltiempo4">Ampliamos nuestras instalaciones e
            <br>incorporamos nuevas cámaras frigórificas.</p>
          <p class="textltiempo5">Nos mudamos a nuestro actual local de la calle&nbsp;Paraguay 1495.</p>
          <p class="textltiempo6">Se funda pescadería Rosario el 17 de junio
            <br>en el local de la calle Corrientes 1564.</p>
        </div><img class="lineadetiempo" src="images/timeline.png">
        <div class="divglobo _2" data-ix="textolt2"><img src="images/globo2.png">
        </div>
        <div class="divglobo _3" data-ix="textolt3"><img src="images/globo3.png">
        </div>
        <div class="divglobo _4" data-ix="textolt4"><img src="images/globo4.png">
        </div>
        <div class="divglobo _5" data-ix="textolt5"><img src="images/globo5.png">
        </div>
        <div class="divglobo _6" data-ix="textolt6"><img src="images/globo6.png">
        </div>
      </div>
    </div>
  </div>
</div>
