<div class="w-section secheader">
  <div class="w-container">
    <div class="w-nav navbar" data-collapse="medium" data-animation="default" data-duration="400" data-contain="1">
      <div class="w-container">
        <a class="w-nav-brand brand" href="productos.html"><img src="images/logoNavBar.png" width="71">
        </a>
        <h3 class="titulologo">Pescadería<br> Rosario</h3>
        <nav class="w-nav-menu navmenu" role="navigation"><a class="w-nav-link navlink" href="#inicio">Inicio</a><a class="w-nav-link navlink" href="#empresa">Empresa</a><a class="w-nav-link navlink" ui-sref="app.products.list({page: 1})" ng-click="changeSection()">Productos</a><a class="w-nav-link navlink" href="#destaca">Destacados</a><a class="w-nav-link navlink" href="#delivery">Delivery</a><a class="w-nav-link navlink" href="#recetas">Recetas</a><a class="w-nav-link navlink" href="#novedades">Novedades</a><a class="w-nav-link navlink" href="#contacto">Contacto</a>
        </nav>
        <div class="w-nav-button botonmenu">
          <div class="w-icon-nav-menu iconomenu"></div>
        </div>
      </div>
    </div>
  </div>
</div>
