<div class="w-section secinfoinicio">
  <div class="w-container continfoinicio"><img class="separadordireccion" src="images/separador_direccion.png">
    <div class="w-row">
      <div class="w-col w-col-3 colinfoinicio"><img class="borde" src="images/mar.jpg">
        <div class="divinfo">
          <h3 class="info">Pescados de mar</h3>
        </div>
      </div>
      <div class="w-col w-col-3 colinfoinicio"><img class="borde" src="images/rio.jpg">
        <div class="divinfo">
          <h3 class="info">Pescados de río</h3>
        </div>
      </div>
      <div class="w-col w-col-3 colinfoinicio"><img class="borde" src="images/mariscos.jpg">
        <div class="divinfo">
          <h3 class="info">Mariscos</h3>
        </div>
      </div>
      <div class="w-col w-col-3 colinfoinicio"><img class="borde" src="images/elaboradosfin.jpg">
        <div class="divinfo">
          <h3 class="info">Productos elaborados</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="w-section seciconosinicio">
  <div class="w-container">
    <div class="w-row">
      <div class="w-col w-col-4"><img class="iconoinicio" src="images/chango.png">
        <div class="textinicio">VENTAS POR MAYOR Y MENOR</div>
      </div>
      <div class="w-col w-col-4"><img class="iconoinicio" src="images/estacionamiento.png">
        <div class="textinicio">ESTACIONAMIENTO GRATUITO</div>
      </div>
      <div class="w-col w-col-4"><img class="iconoinicio" src="images/hielo.png">
        <div class="textinicio">ACONDICIONAMOS SU COMPRA</div>
      </div>
    </div>
  </div>
</div>
