<div class="w-section secslider" id="inicio" data-ix="timon">
  <div class="w-slider slider" data-animation="fade" data-duration="1500" data-infinite="1" data-delay="8000" data-autoplay="1" data-easing="ease-out-cubic">
    <div class="w-slider-mask">
      <div class="w-slide slide">
        <div class="divlogo"><img class="fondo" src="images/fondo.png"><img class="barco" src="images/barco.png"><img class="logo" src="images/timon.png"><img class="agua" src="images/agua.png">
        </div>
      </div>
      <div class="w-slide slide _1">
        <div class="divslide"><img src="images/separador_texto_slider.png" width="348">
          <h1 class="sld">Calidad y frescura en nuestros productos</h1><img src="images/separador_texto_slider_abajo.png" width="348">
        </div>
      </div>
      <div class="w-slide slide _2">
        <div class="divslide"><img src="images/separador_texto_slider.png" width="348">
          <h1 class="sld">Mariscos nacionales e importados</h1><img src="images/separador_texto_slider_abajo.png" width="348">
        </div>
      </div>
      <div class="w-slide slide _3">
        <div class="divslide"><img src="images/separador_texto_slider.png" width="348">
          <h1 class="sld">Pescados de mar y río</h1><img src="images/separador_texto_slider_abajo.png" width="348">
        </div>
      </div>
    </div>
    <div class="w-slider-arrow-left">
      <div class="w-icon-slider-left iconoflecha"></div>
    </div>
    <div class="w-slider-arrow-right">
      <div class="w-icon-slider-right iconoflecha der"></div>
    </div>
  </div>
</div>
<div class="divmadera">
  <div class="textdireccion">0341 &nbsp;448 0833
    <br>Paraguay 1498&nbsp;&nbsp;&nbsp;Rosario</div><img class="direccmadera" src="images/maderadireccion.png">
</div>
