<div class="w-section sechea">
  <div class="w-container">
    <div class="w-nav navbarprod" data-collapse="medium" data-animation="default" data-duration="400" data-contain="1">
      <div class="w-container">
        <a class="w-nav-brand brand productos" href="index.html"><img src="images/logoNavBar.png" width="71">
        </a>
        <h3 class="titulologo">Pescadería<br> Rosario</h3>
        <div class="textnamepage"></div>
        <nav class="w-nav-menu navmenu" role="navigation"><a class="w-nav-link navlink" href="index.html">Inicio</a>
        </nav>
        <div class="w-nav-button botonmenu">
          <div class="w-icon-nav-menu iconomenu"></div>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="w-section secnoticias">
  <div class="w-container contproductos" style="margin-top: 100px;">
    <ui-view></ui-view>
  </div>
</div>
